<div onload="changeColor();" class="header">
  <div class="banner">
    <div class="banner-container">
      <h1>Hi I am <span id="name">Mariken</span> <br>I am a (junior) full-stack web developer</h1>
    </div>
    <div class="chevron-down">
      <a href="" id="scroll-arrow"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <h2>My projects</h2>
    <div class="grid-projects">
      <div class="project-helpal">
        <a href="https://www.helpal.today/" target="_blank"><h3>Helpal</h3></a>
      </div>
      <div class="project-cars">
        <a href="https://cars-bnb.herokuapp.com/cars" target="_blank"><h3>CarsBnB</h3></a>
      </div>
      <div class="project-github">
        <a href="https://github.com/Mariken333" target="_blank"><h3>Projects on GitHub</h3></a>
      </div>
      <div class="project-images">
        <a href="https://www.helpal.today/" target="_blank"><%= image_tag "helpal.png", size: "350x250"%></a>
      </div>
      <div class="project-images">
        <a href="https://cars-bnb.herokuapp.com/cars" target="_blank"><%= image_tag "cars.png", size: "350x250"%></a>
      </div>
      <div class="project-images">
        <a href="https://github.com/Mariken333"><%= image_tag "github.svg.png", size: "75x75"%></a>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>My skills</h2>
    <div class="grid-skills">
      <div>
        <%= image_tag "html.png", size: "50x60" %>
      </div>
       <div>
        <%= image_tag "css.png", size: "50x60" %>
      </div>
      <div>
        <%= image_tag "js.png", size: "50x60" %>
      </div>
       <div>
        <%= image_tag "ruby.png", size: "75x50" %>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Find out more...</h2>
    <p class="btn-orange"><%= link_to "About me", pages_about_path %></p>
  </div>
</div>
