<div class="banner">
  <div class="banner-name">
    <h1>Mariken van Gulpen</h1>
  </div>
  <div class="banner-title">
    <div class="banner-content">
      <h1> Strategy & <br> Business Development Manager </h1>
      <%= link_to "Find out more about me", pages_about_path, class: "btn-burgundy"%>
    </div>
  </div>
</div>
<div class="home-container">
  <div>
    <h1>Innovative product and service development</h1>
  </div>
  <div class="card-container">
    <div class="card-product">
      <div class="card-img-scooter">a</div>
      <div class="card-content">
        <h3>Adjusting products and services to local markets.</h3>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_projects_path, class: "btn-green"%>
      </div>
    </div>
    <div class="card-product">
      <div class="card-img-travel"></div>
      <div class="card-content">
        <h3>Developing innovative products & services solving customer pain points.</h3>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_projects_path, class: "btn-green"%>
      </div>
    </div>
    <div class="card-product">
      <div class="card-img-mobile"></div>
      <div class="card-content">
        <h3>Simplifying online processes & developing intuitive apps and websites.</h3>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_projects_path, class: "btn-green"%>
      </div>
    </div>
  </div>
</div>
<div class="home-container-2">
  <div>
    <h1>Web development projects</h1>
  </div>
  <div class="card-container">
    <div class="card-product">
      <div class="img-helpal">
        <a style="display: none" href="https://www.freepik.com/free-photos-vectors/people">People vector created by pikisuperstar - www.freepik.com</a>
      </div>
      <div class="card-content">
        <h3>Helpal</h3>
        <p>Helps you find support for all the problems you face moving to a new city or even new country. Get help  from the local community fast and easy.</p>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_web_development_path, class: "btn-green"%>
      </div>
    </div>
    <div class="card-product">
      <div class="img-hackathon"></div>
      <div class="card-content">
        <h3>WirvsVirus Hackathon</h3>
        <p>Home Alone Challenge, an app to beat loneliness in times of COVID-19. Receive a challenge each day, get support and share your results. </p>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_web_development_path, class: "btn-green"%>
      </div>
    </div>
    <div class="card-product">
      <div class="img-car">
        <a style="display: none" href='https://www.freepik.com/photos/car'>Car photo created by azerbaijan_stockers - www.freepik.com</a>
      </div>
      <div class="card-content">
        <h3>CarsBnB</h3>
        <p>Rent a car or share your car with people in your city. Fast, convenient and easy.</p>
      </div>
    </div>
  </div>
</div>
<div class="contact-container">
  <h1>Let’s work together</h1>
  <h2>I can help you with:</h2>
  <div class="contact-content">
    <ul>
      <li>Market research</li>
      <li>Market entry strategy</li>
      <li>Creative concepts</li>
      <li>Project management</li>
      <li>Website design</li>
      <li>User interface and experience design</li>
      <li>User research</li>
      <li>eCommerce</li>
    </ul>
  </div>
  <div class="contact-me">
    <div>
      <h2>Let’s discuss how I can help you.</h2>
    </div>
    <div class="contact-me-button">
      <a class="btn-green-message", href="mailto:mvangulpen@gmail.com">Send me message</a>
    </div>
  </div>
</div>


