<!DOCTYPE html>
<html>
  <head>
    <title>MarikenWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/03973d01eb.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
  <div class="footer">
    <ul class="social-media-icon">
      <li><a href="https://www.linkedin.com/in/mariken-van-gulpen-18942243/" target="_blank"> <i class="fab fa-linkedin-in"></i></a></li>
      <li> <a href="https://github.com/Mariken333" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
